src/conf/xml-resources/jaxb/Jax/configXSD.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuraciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="config" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:string" name="nom"/>
              <xs:element type="xs:byte" name="dificultad"/>
              <xs:element type="xs:byte" name="nave"/>
              <xs:element type="xs:byte" name="luna"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>